body.popView {
	overflow: hidden;
	height: 100vh;
}

/* wrap */
.wrap {
	overflow: hidden;
	position: relative;
	padding-top: 82px;
	width: 100%;
	height: 100vh;
}

/* header */
.header {
	z-index: 100;
	position: absolute;
	left: 0;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 58px 0 73px;
	width: 100%;
	height: 82px;
}

.header.club {
	background-color: #BC011A;
}

.header.master {
	background-color: #2a2a2a;
}

.header .logo-con {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .logo-con .logo {
	margin-right: 40px;
	width: 235px;
}

.header .logo-con > p {
	font-size: 23px;
	font-weight: 700;
	color: #fff;
}

.header .util-menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .util-menu .alarm {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-right: 44px;
	width: 40px;
	height: 30px;
}

.header .util-menu .alarm img {
	width: 29px;
}

.header .util-menu .alarm span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: absolute;
	left: 15px;
	top: -2px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 3px 7px;
	font-size: 12px;
	color: #fff;
	border-radius: 12px;
	background-color: #0058FF;
}

.header .util-menu .profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.header .util-menu .profile .picture {
	overflow: hidden;
	width: 43px;
	height: 43px;
	border-radius: 50%;
}

.header .util-menu .profile .user {
	position: relative;
	margin-left: 13px;
}

.header .util-menu .profile .user .user-name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.header .util-menu .profile .user .user-name::after {
	content: "";
	display: block;
	margin: -4px 0 0 9px;
	width: 29px;
	height: 29px;
	background: url("../img/common/ico_util_arrow.png") no-repeat center center;
	background-size: 100% auto;
}

.header .util-menu .profile .user .mypage-menu {
	display: none;
	position: absolute;
	top: calc(100% + 12px);
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	padding: 19px;
	text-align: center;
	border-radius: 6px;
	background-color: #aaa;
}

.header .util-menu .profile .user .mypage-menu.active {
	display: block;
}

.header .util-menu .profile .user .mypage-menu li:first-of-type {
	margin-bottom: 10px;
}

.header .util-menu .profile .user .mypage-menu li a {
	font-size: 16px;
	color: #fff;
	text-decoration: underline;
	text-underline-position: under;
	white-space: nowrap;
}

.header .util-menu .message {
	display: none;
	margin-right: 28px;
	width: 29px;
}

.header.master .util-menu .message {
	display: block;
}

.header.master .util-menu .alarm span {
	background: #F0142F;
}

.header .full-btn {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.header .full-btn .inner {
	position: relative;
}

.header .full-btn .inner button {
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.4) url("../img/common/ico_fullbtn_gray.png") no-repeat center center;
	background-size: 100% auto;
}

.header .full-btn .inner .full-txt {
	display: none;
	position: absolute;
	top: calc(100% + 7px);
	left: 50%;
	padding: 16px 57px;
	font-size: 20px;
	color: #aaa;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	border: 1px solid #d8d8d8;
	background-color: rgba(255, 255, 255, 0.8);
	border-radius: 28px;
	white-space: nowrap;
}

.header .full-btn .inner button:hover {
	background-color: rgba(255, 255, 255, 0.8);
	background-image: url("../img/common/ico_fullbtn_white.png");
}

.header .full-btn .inner button:hover + .full-txt {
	display: block;
}

/* nav */
.nav {
	overflow: hidden auto;
	position: absolute;
	left: 0;
	top: 0;
	padding: 24px 34px 0 0;
	width: 310px;
	height: 100%;
}

.nav .inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	height: 100%;
}

.nav .nav-list li a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0 24px;
	width: 100%;
	height: 62px;
	font-size: 16px;
	font-weight: 500;
	color: #171725;
	border-radius: 4px;
}

.nav .nav-list li a::before {
	content: "";
	display: block;
	margin: -2px 24px 0 0;
	width: 30px;
	height: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.nav .nav-list li.active a {
	font-weight: 700;
	color: #BC011A;
	background-color: rgba(255, 0, 0, 0.05);
}

.nav .nav-list li.active a::after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 5px;
	height: 100%;
	background-color: #BC011A;
	border-radius: 10px;
}

.nav .gnb_01 a::before {
	background-image: url("../img/common/ico_gnb_off_01.png");
}

.nav .gnb_01.active a::before {
	background-image: url("../img/common/ico_gnb_on_01.png");
}

.nav .gnb_02 a::before {
	background-image: url("../img/common/ico_gnb_off_02.png");
}

.nav .gnb_02.active a::before {
	background-image: url("../img/common/ico_gnb_on_02.png");
}

.nav .gnb_03 a::before {
	background-image: url("../img/common/ico_gnb_off_03.png");
}

.nav .gnb_03.active a::before {
	background-image: url("../img/common/ico_gnb_on_03.png");
}

.nav .gnb_04 a::before {
	background-image: url("../img/common/ico_gnb_off_04.png");
}

.nav .gnb_04.active a::before {
	background-image: url("../img/common/ico_gnb_on_04.png");
}

.nav .gnb_05 a::before {
	background-image: url("../img/common/ico_gnb_off_05.png");
}

.nav .gnb_05.active a::before {
	background-image: url("../img/common/ico_gnb_on_05.png");
}

.nav .gnb_06 a::before {
	background-image: url("../img/common/ico_gnb_off_06.png");
}

.nav .gnb_06.active a::before {
	background-image: url("../img/common/ico_gnb_on_06.png");
}

.nav .gnb_07 a::before {
	background-image: url("../img/common/ico_gnb_off_07.png");
}

.nav .gnb_07.active a::before {
	background-image: url("../img/common/ico_gnb_on_07.png");
}

.nav .master_gnb_01 a::before {
	background-image: url("../img/common/ico_master_gnb_off_01.png");
}

.nav .master_gnb_01.active a::before {
	background-image: url("../img/common/ico_master_gnb_on_01.png");
}

.nav .master_gnb_02 a::before {
	background-image: url("../img/common/ico_master_gnb_off_02.png");
}

.nav .master_gnb_02.active a::before {
	background-image: url("../img/common/ico_master_gnb_on_02.png");
}

.nav .master_gnb_03 a::before {
	background-image: url("../img/common/ico_master_gnb_off_03.png");
}

.nav .master_gnb_03.active a::before {
	background-image: url("../img/common/ico_master_gnb_on_03.png");
}

.nav .master_gnb_04 a::before {
	background-image: url("../img/common/ico_master_gnb_off_04.png");
}

.nav .master_gnb_04.active a::before {
	background-image: url("../img/common/ico_master_gnb_on_04.png");
}

.nav .customer {
	margin-top: 21px;
	padding-left: 24px;
}

.nav .customer dl {
	position: relative;
	padding: 22px 0 22px 70px;
	border-radius: 6px;
	border: solid 1px #d8d8d8;
}

.nav .customer dl::before {
	content: "";
	position: absolute;
	left: 19px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 28px;
	height: 28px;
	background: url("../img/common/ico_help.png") no-repeat center center;
	background-size: 100% auto;
}

.nav .customer dl dt {
	font-size: 16px;
	font-weight: 700;
}

.nav .customer dl dd.tel {
	font-size: 24px;
	color: #0058ff;
	font-weight: 700;
	line-height: 1.3;
}

.nav .customer dl dd.guide {
	font-size: 12px;
	color: #a9a9a9;
}

.nav .address {
	margin-top: 50px;
	padding: 0 0 30px 24px;
}

.nav .address .logo {
	margin-bottom: 15px;
	width: 114px;
}

.nav .address p {
	font-size: 12px;
	color: #acacac;
	line-height: 1.3;
}

.nav .address p.line {
	margin-bottom: 15px;
}

.nav .address p span {
	font-weight: 700;
}

/* frame */
.frame {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	position: relative;
	padding-left: 310px;
	height: 100%;
}

/* footer */
.footer {
	padding: 40px 35px;
	background-color: #575757;
}

.footer .address .logo {
	margin-bottom: 20px;
	width: 156px;
}

.footer .address p {
	font-size: 17px;
	color: #acacac;
	line-height: 1.4;
}

.footer .address p.line {
	margin-bottom: 20px;
}

.footer .address p span {
	font-weight: 700;
}

/* mob-util */
.mob-util {
	display: none;
	margin-bottom: 32px;
	padding: 0 20px;
}

.mob-util .inner {
	background-color: #575757;
	border-radius: 0 0 10px 10px;
}

.mob-util .fix-btn {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100px;
	cursor: pointer;
}

.mob-util .fix-btn .profile {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.mob-util .fix-btn .profile::after {
	content: "";
	display: block;
	width: 28px;
	height: 28px;
	background: url("../img/common/ico_down_arrow.png") no-repeat center center;
	background-size: 100% auto;
}

.mob-util .fix-btn .profile .picture {
	margin-right: 15px;
	width: 40px;
}

.mob-util .fix-btn .profile .user-name {
	margin-right: 10px;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
}

.mob-util .fix-btn .alarm {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	position: absolute;
	right: 40px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 40px;
	height: 30px;
}

.mob-util .fix-btn .alarm img {
	width: 29px;
}

.mob-util .fix-btn .alarm span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	position: absolute;
	left: 14px;
	top: -2px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	padding: 3px 7px;
	font-size: 12px;
	color: #fff;
	border-radius: 12px;
	background-color: #0058FF;
}

.mob-util .fix-btn .message {
	display: none;
	position: absolute;
	right: 110px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
	width: 29px;
}

.mob-util.master .fix-btn .message {
	display: block;
}

.mob-util .respon-con {
	display: none;
	padding: 0 20px 23px;
}

.mob-util .respon-con .nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin: 10px 0 35px;
	width: 100%;
}

.mob-util .respon-con .nav-list li a {
	display: block;
	opacity: 0.5;
	color: #fff;
	padding: 10px;
	font-size: 17px;
	font-weight: 500;
	text-align: center;
}

.mob-util .respon-con .nav-list li a::before {
	content: "";
	display: block;
	margin: 0 auto 10px;
	width: 30px;
	height: 30px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.mob-util .respon-con .nav-list li.active a {
	opacity: 1;
}

.mob-util .respon-con .logout-btn a {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	width: 136px;
	height: 43px;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	background-color: #373737;
	border-radius: 22px;
	border: 1px solid #707070;
}

.mob-util .respon-con .logout-btn a::before {
	content: "";
	display: block;
	margin: -2px 6px 0 0;
	width: 27px;
	height: 27px;
	background: url("../img/common/ico_logout_w.png") no-repeat center center;
	background-size: 100% auto;
}

.mob-util.active .fix-btn .profile::after {
	background-image: url("../img/common/ico_up_arrow.png");
}

.mob-util .respon-con .nav-list .gnb_01 a::before {
	background-image: url("../img/common/ico_gnb_mo_01.png");
}

.mob-util .respon-con .nav-list .gnb_02 a::before {
	background-image: url("../img/common/ico_gnb_mo_02.png");
}

.mob-util .respon-con .nav-list .gnb_03 a::before {
	background-image: url("../img/common/ico_gnb_mo_03.png");
}

.mob-util .respon-con .nav-list .gnb_04 a::before {
	background-image: url("../img/common/ico_gnb_mo_04.png");
}

.mob-util .respon-con .nav-list .gnb_05 a::before {
	background-image: url("../img/common/ico_gnb_mo_05.png");
}

.mob-util .respon-con .nav-list .gnb_06 a::before {
	background-image: url("../img/common/ico_gnb_mo_06.png");
}

.mob-util .respon-con .nav-list .gnb_07 a::before {
	background-image: url("../img/common/ico_gnb_mo_07.png");
}

.mob-util.master .respon-con .nav-list .master_gnb_01 a::before {
	background-image: url("../img/common/ico_master_gnb_mo_01.png");
}

.mob-util.master .respon-con .nav-list .master_gnb_02 a::before {
	background-image: url("../img/common/ico_master_gnb_mo_02.png");
}

.mob-util.master .respon-con .nav-list .master_gnb_03 a::before {
	background-image: url("../img/common/ico_master_gnb_mo_03.png");
}

.mob-util.master .respon-con .nav-list .master_gnb_04 a::before {
	background-image: url("../img/common/ico_master_gnb_mo_04.png");
}

/* contents */
.contents {
	overflow: auto;
	padding: 0 40px 80px;
	width: 100%;
	height: 100%;
}

.contents > .inner {
	margin: 0 auto;
	max-width: 1500px;
	width: 100%;
}

@media (max-width: 1400px) {
	.frame {
		padding-left: 250px;
	}

	.header {
		padding: 0 38px 0 53px;
	}

	.header .logo-con .logo {
		margin-right: 30px;
		width: 215px;
	}

	.header .logo-con > p {
		font-size: 20px;
	}

	.header .util-menu .alarm {
		margin-right: 39px;
		width: 34px;
		height: 26px;
	}

	.header .util-menu .alarm img {
		width: 27px;
	}

	.header .util-menu .message {
		width: 27px;
	}

	.header .util-menu .alarm span {
		padding: 3px 6px;
	}

	.header .util-menu .profile .picture {
		width: 39px;
		height: 39px;
	}

	.header .util-menu .profile .user .user-name {
		font-size: 15px;
	}

	.nav {
		padding: 24px 25px 0 0;
		width: 250px;
	}

	.nav .nav-list li a {
		padding: 0 20px;
		height: 59px;
		font-size: 15px;
	}

	.nav .nav-list li a::before {
		margin-right: 18px;
	}

	.nav .customer dl {
		padding: 18px 0 18px 50px;
	}

	.nav .customer dl::before {
		left: 10px;
	}

	.nav .customer dl dt {
		font-size: 15px;
	}

	.nav .customer dl dd.tel {
		font-size: 22px;
	}

	.contents {
		padding: 0 30px 60px;
	}
}
@media (max-width: 1200px) {
	.frame {
		padding-left: 200px;
	}

	.header {
		padding: 0 20px 0 30px;
	}

	.header .logo-con .logo {
		margin-right: 20px;
		width: 200px;
	}

	.header .logo-con > p {
		font-size: 18px;
	}

	.header .util-menu .alarm {
		margin-right: 34px;
		width: 37px;
		height: 28px;
	}

	.header .util-menu .alarm img {
		width: 25px;
	}

	.header .util-menu .message {
		width: 25px;
	}

	.header .util-menu .alarm span {
		padding: 2px 5px;
	}

	.header .util-menu .profile .picture {
		width: 36px;
		height: 36px;
	}

	.header .util-menu .profile .user .user-name {
		font-size: 14px;
	}

	.header .util-menu .profile .user .user-name::after {
		margin-top: -2px;
		width: 27px;
		height: 27px;
	}

	.nav {
		padding: 24px 16px 0 0;
		width: 200px;
	}

	.nav .nav-list li a {
		padding: 0 16px;
		height: 56px;
		font-size: 15px;
	}

	.nav .nav-list li a::before {
		margin-right: 12px;
	}

	.nav .customer dl {
		padding: 16px 0 16px 10px;
	}

	.nav .customer dl::before {
		display: none;
	}

	.nav .customer dl dt {
		font-size: 14px;
	}

	.nav .customer dl dd.tel {
		font-size: 20px;
	}

	.nav .address p br {
		display: none;
	}

	.contents {
		padding: 0 20px 60px;
	}
}
@media (max-width: 960px) {
	.wrap {
		overflow: hidden;
		height: auto;
	}

	.header {
		position: fixed;
		padding: 0 35px;
	}

	.header .logo-con {
		width: 100%;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}

	.header .logo-con .logo {
		width: 218px;
	}

	.header .logo-con > p {
		font-size: 16px;
	}

	.header .util-menu {
		display: none;
	}

	.frame {
		display: block;
		padding-left: 0;
		height: auto;
	}

	.contents {
		overflow: hidden;
	}

	.nav {
		display: none;
	}

	.mob-util {
		display: block;
	}

	.mob-util .respon-con .nav-list {
		margin-left: auto;
		margin-right: auto;
		width: 80%;
	}
}
@media (max-width: 640px) {
	.wrap {
		padding-top: 12.81vw;
	}

	.header {
		height: 12.81vw;
		padding: 0 5.47vw;
	}

	.header .logo-con .logo {
		width: 34.06vw;
	}

	.header .logo-con > p {
		font-size: 2.5vw;
	}

	.header .full-btn .inner button {
		width: 6.88vw;
		height: 6.88vw;
	}

	.header .full-btn .inner .full-txt {
		top: calc(100% + 1.09vw);
		padding: 2.5vw 8.91vw;
		font-size: 3.13vw;
		border-radius: 4.38vw;
	}

	.header .full-btn .inner button:hover {
		background-color: rgba(255, 255, 255, 0.4);
		background-image: url("../img/common/ico_fullbtn_gray.png");
	}

	.header .full-btn .inner button:hover + .full-txt {
		display: none;
	}

	.footer {
		padding: 6.25vw 5.47vw;
	}

	.footer .address .logo {
		margin-bottom: 3.13vw;
		width: 24.38vw;
	}

	.footer .address p {
		font-size: 2.66vw;
	}

	.footer .address p.line {
		margin-bottom: 3.13vw;
	}

	.mob-util {
		margin-bottom: 5vw;
		padding: 0 3.13vw;
	}

	.mob-util .inner {
		border-radius: 0 0 1.56vw 1.56vw;
	}

	.mob-util .fix-btn {
		height: 15.63vw;
	}

	.mob-util .fix-btn .profile::after {
		width: 4.38vw;
		height: 4.38vw;
	}

	.mob-util .fix-btn .profile .picture {
		margin-right: 2.34vw;
		width: 6.25vw;
	}

	.mob-util .fix-btn .profile .user-name {
		margin-right: 1.56vw;
		font-size: 2.5vw;
	}

	.mob-util .fix-btn .alarm {
		right: 6.25vw;
		min-width: 32px;
		min-height: 20px;
		width: 6.25vw;
		height: 4.69vw;
	}

	.mob-util .fix-btn .alarm img {
		min-width: 26px;
		width: 4.53vw;
	}

	.mob-util .fix-btn .message {
		right: 17.19vw;
		width: 4.53vw;
	}

	.mob-util .fix-btn .alarm span {
		left: 2vw;
		top: -0.31vw;
		padding: 0.47vw 1.09vw;
		font-size: 1.88vw;
		border-radius: 1.88vw;
	}

	.mob-util .respon-con {
		padding: 0 3.13vw 3.59vw;
	}

	.mob-util .respon-con .nav-list {
		margin: 1.56vw auto 5.47vw;
	}

	.mob-util .respon-con .nav-list li a {
		padding: 1.56vw;
		font-size: 2.66vw;
	}

	.mob-util .respon-con .nav-list li a::before {
		margin: 0 auto 1.56vw;
		width: 4.69vw;
		height: 4.69vw;
	}

	.mob-util .respon-con .logout-btn a {
		width: 21.25vw;
		height: 6.72vw;
		font-size: 2.66vw;
		border-radius: 3.44vw;
	}

	.mob-util .respon-con .logout-btn a::before {
		margin: -0.31vw 0.94vw 0 0;
		width: 4.22vw;
		height: 4.22vw;
	}
}
/* fullpage style */
.fullPage.wrap {
	padding-top: 0;
}

.fullPage .header {
	padding: 0;
	width: 44px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	    -ms-transform: translateX(-50%);
	        transform: translateX(-50%);
	background-color: transparent !important;
}

.fullPage .header .logo-con {
	display: none;
}

.fullPage .header .util-menu {
	display: none;
}

.fullPage .nav {
	display: none;
}

.fullPage .frame {
	padding-left: 0;
}

.fullPage .header .full-btn {
	opacity: 0.5;
}

.fullPage .header .full-btn .inner button {
	background-color: #D8D8D8;
	background-image: url("../img/common/ico_fullbtn_white.png");
}

.fullPage .header .full-btn .inner button:hover {
	background-color: #F0142F;
}

.fullPage .mob-util {
	display: none;
}

.fullPage .footer {
	display: none !important;
}

.fullPage .contents {
	padding-top: 0;
}

.fullPage .contents > .inner {
	max-width: 1800px;
}

.fullPage .notice-wrap {
	display: none;
}

@media (max-width: 640px) {
	.fullPage .header .full-btn .inner button {
		background-color: #F0142F;
	}
}
/*# sourceMappingURL=maps/layout.css.map */
